<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.OrdersDao">
	<resultMap id="BaseResultMap" type="org.lanqiao.entity.Orders">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="fee" jdbcType="DOUBLE" property="fee" />
		<result column="dates" jdbcType="DATE" property="dates" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, address, fee, dates
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from orders
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="queryAllOrders" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from orders
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from orders
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="org.lanqiao.entity.Orders">
		insert into orders (id, name, address,
		fee, dates)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{fee,jdbcType=DOUBLE}, #{dates,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="org.lanqiao.entity.Orders">
		insert into orders
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="fee != null">
				fee,
			</if>
			<if test="dates != null">
				dates,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="fee != null">
				#{fee,jdbcType=DOUBLE},
			</if>
			<if test="dates != null">
				#{dates,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Orders">
		update orders
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="fee != null">
				fee = #{fee,jdbcType=DOUBLE},
			</if>
			<if test="dates != null">
				dates = #{dates,jdbcType=DATE},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Orders">
		update orders
		set name = #{name,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		fee = #{fee,jdbcType=DOUBLE},
		dates = #{dates,jdbcType=DATE}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>